{% extends "base.html" %}
{% block title %}
  {% if is_edit %} Редактировать запись
  {% else %} Добавить запись
  {% endif %}
{% endblock %}
{% block header %}
  {% if is_edit %} Редактировать запись
  {% else %} Добавить запись
  {% endif %}
{% endblock %}
{% block content %}
{% load user_filters %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% if is_edit %}Редактировать статью
          {% else %}Создать статью
          {% endif %}
        </div>
        <div class="card-body">
         {% include 'includes/form_error.html' %}
          <form method="post" enctype="multipart/form-data"
            {% if PostForm %}
              action="{% url 'posts:post_edit' post.pk %}"
            {% endif %}
          >
          {% csrf_token %}
          {% include 'includes/field_form.html' %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary btn-block">
              {% if is_edit %}Сохранить
              {% else %}Добавить запись
              {% endif %}
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}